@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(style.css); */
[x-cloak] {
  display: none;
}
/* 検索バーのスタイル */
.search {
    width: 80%;
    margin: 4% 4% ;
}
/*タブ切り替え全体のスタイル*/
.tabs  {
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: auto;
    right: 0;
    width: 80%;
    height: 85%;
    margin: 0 2%;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/5);
    height: 4vh;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    /* line-height: 3vh; */
    font-size: 3vh;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked~#all_content,
#programming:checked~#programming_content,
#design:checked~#design_content ,
#test:checked~#test_content ,
#document:checked~#document_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: #5ab4bd;
    color: #fff;
}